*, body{
	margin: 0;
}
h2 {
	margin-top: 10px;
  	text-align: center;
}

.text-blue{
  	color: blue;
}

.text-red{
  	color: red;
}

div {
  margin: 200px 0px;
  
}
a {
  width: 130px;
  height: 40px;
  color: #fff;
  border-radius: 10px;
  padding: 10px 25px;
  margin: 200px 570px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background-color: #399969;
  border: none;
  cursor: pointer;
  text-decoration: none;
  }